.profile__edit-button {
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../../images/editButton.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 18px;
    min-height: 18px;
    margin: auto 0 auto 7px;
    cursor: pointer;
    padding: 0;

}
.profile__edit-button:hover {
    opacity: 0.6;
}

@media  (min-width: 921px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
        margin: auto 0 auto 17px;
    }
}