.edit-button {
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../images/editButton.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    margin: auto 0 auto auto;
    cursor: pointer;
    padding: 0;

}
.edit-button:hover {
    opacity: 0.6;
}

@media  (min-width: 921px) {
    .edit-button {
        width: 24px;
        height: 24px;
    }
}