.add-button {
    margin: 36px 0 0 0;
    width: 282px;
    height: 50px;
    background-color: inherit;
    border: none;
    border:  2px solid #FFFFFF;;
    background-image: url(../../images/addButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;

}
.add-button:hover {
    opacity: 0.6;
}

@media  (min-width: 921px) {
    .add-button {
        margin: auto 0 auto auto;
        width: 150px;
    }
}