.profile__edit-avatar {
  position: absolute;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.7s;
}

.profile__edit-avatar:hover {
  background-color: rgba(0, 0, 0, 0.5);
  /* transition: 1s; */
}

.profile__edit-avatar:before {
  content: url(../../../images/editButtonAvatar.svg);
  margin: 47px 0 0 47px;
  position: absolute;
  opacity: 0;
  transition: 1.5s;
}

.profile__edit-avatar:hover:before {
  opacity: 1;
}
