.card__like-button{
    background-image: url(../../../images/likeButton.svg);
    height: 18.12px;
    width: 20.76px;
    border:none;
    box-shadow: none;
    background-color: #FFFFFF;
    background-size: cover;
    cursor: pointer;
    padding: 0;
    margin: 0;


}
.card__like-button:hover {
    opacity: 0.6;
}