.page__container {
    /*установили ограничение по максимальной ширине */
    max-width: 882px;
    min-width: 320px;
    /*для экранов больше 1280px отцентрировали весь контент */
    margin: 0 auto;
    /*overflow: hidden;*/

}